label {
    display: block;
    margin: 5px 0;
  }

/* div {
  border: 4px solid;
} */

.container{
  background-color: rgb(235, 235, 235);
}

.with-margin {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: gray 3px solid;
}

