label {
    display: block;
    margin: 5px 0;
  }

/*Preloader*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes animate-preloader {
  0% {-webkit-transform: rotate(0deg);
  transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);
  transform: rotate(360deg);}

}

/*******************/

.container{
  background-color: rgb(235, 235, 235);
 
}

.alert{
  display:none;
  background-color: red;
  color: #f2f2f2;
  margin-top: 5px;
  padding: 5px;

}

/* #delAlertLoc{
  display:none;
  background-color: red;
  color: #f2f2f2;
  margin-top: 5px;
  padding: 5px;

}

#addAlertLoc{
  display:none;
  background-color: red;
  color: #f2f2f2;
  margin-top: 5px;
  padding: 5px;

}

#editAlertLoc{
  display:none;
  background-color: red;
  color: #f2f2f2;
  margin-top: 5px;
  padding: 5px;

}

#addAlertDep{
  display:none;
  background-color: red;
  color: #f2f2f2;
  margin-top: 5px;
  padding: 5px;

} */

/* td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
table {
  table-layout: fixed;
} */
/* .with-margin {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: gray 3px solid;
} */

