
/*Preloader*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes animate-preloader {
  0% {-webkit-transform: rotate(0deg);
  transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);
  transform: rotate(360deg);}

}

/*******************/





/* td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
table {
  table-layout: fixed;
} */
/* .with-margin {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: gray 3px solid;

} */


label {
  display: block;
  margin: 5px 0;
}

h3, h4 {
  padding: 20px;
}

#myInput{
  width: 80%;
  margin: 0 auto;

}

.container{
  background-color: #6c757d;
 
}

.alert{
  display:none;
  background-color: red;
  color: #f2f2f2;
  margin-top: 5px;
  padding: 5px; 

}

.btn-cust{
  width: 100%;
}



#tableHeader th:nth-child(1){
  width: 13%;
}
#tableHeader th:nth-child(2){
  width: 14%;
}
#tableHeader th:nth-child(3){
  width: 24%;
}
#tableHeader th:nth-child(4){
  width: 24%;
}
#tableHeader th:nth-child(5){
  width: 15%;
}
#tableHeader th:nth-child(6){
  width: 10%;
}


/* @media only screen and (max-width: 990px) { */

  table {
    table-layout: fixed;
  }

  td {
    white-space: normal !important; 
    word-wrap: break-word;  
  }
  

img{
  padding-left: 10px;
  width: 30px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {

  
  thead th {
      display: none;
  }

  td {
      display: block;
      font-size: larger;
      text-align: right;
  }


  td[data-th]:before  {
      content: attr(data-th);
      font-weight: bold;
      float: left;
      /* padding-right: 20%; */
 
  }
}

